@font-face {
    font-family: OpenFont;
    src: url(./Fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: ProductFont;
    src: url(./Fonts/Product_Sans/Product\ Sans\ Regular.ttf);
}

.Wrapper {
    font-family: OpenFont;
    margin: 0 auto;
    display: flex;
    width: 60%;
    border: 3px solid black;
    gap: 10px;
    border-radius: 10px;
}

.AboutMe {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #668B8B;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.Info {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

li {
    font: bold;
    font-size: 22px;
}

.Redcolor {
    color: #838B8B;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.MiniPhones{
    display: none;
}
.MiniImage{
    display: none;
  
}
@media screen and (max-width: 1662px) {
    img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1318px) {
    .Wrapper{
        flex-direction: column;
    }
    .AboutMe{
        width: 100%;
    }
    .Info{
        width: 100%;
    }
}

/* @media screen and (max-width:1318px) {
    .AboutMe {
        display: none;
    }
    .MiniPhones{
        display: block;
    } 
    .MiniImage{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    .Wrapper {
       flex-direction: column;
    }
} */
@media screen and (max-width: 740px) {
    .Wrapper {
        width: 100%;
     }
}
